#titulo { 
    color: rgb(42, 34, 65);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 80px;
}

.principal { 
    background-color: rgb(213, 209, 209);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border: 2.5px solid rgba(0, 0, 0, 0.629);
    border-radius: 15px;
    padding: 50px;
    position: relative;
}

body{
    background-color: rgba(255, 255, 255, 0.808);
    transition: background-color 0.3s ease;
}

.novedades{ 
    background-color: rgb(233, 181, 109);
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border: 2.5px solid rgba(12, 12, 12, 0.629);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 15px rgba(177, 5, 5, 0.2);
}

#noche { 
    position: fixed;        
    top: 20px;             
    right: 20px;           
    width: 50px;           
    height: 50px;         
    cursor: pointer;       
    z-index: 1000;         
    border-radius: 50%;    
}

.actu { 
    background-color: rgb(229, 139, 14);
    margin-left: 0;
    margin-right: 0;
    border: 2.5px solid rgba(12, 12, 12, 0.629);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 15px rgba(177, 5, 5, 0.2);
    position: absolute;
    top: 200px;
    right: 30px;
    left: 1200px;
    padding: 1px;
}

.contenido{
    background-color: rgb(207, 144, 68);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#actu_titulo{ 
    text-align: center;
    font-size: 30px;
}

#release{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.contador {  
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 5px solid rgba(194, 20, 20, 0.629);
    box-shadow: 35px 35px 35px 35px rgba(251, 255, 2, 0.2);
    font-size: 30px;
    color: white;
    text-align: center;
}
/* novedades */
#actu_titulo2{ 
    text-align: left;
    font-size: 20px;
}
.contenido2{
    background-color: rgb(207, 144, 68);
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
.actu2 { 
    background-color: rgb(229, 139, 14);
    margin-left: 0;
    margin-right: 0;
    border: 2.5px solid rgba(12, 12, 12, 0.629);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 15px rgba(177, 5, 5, 0.2);
    position: absolute;
    top: 200px;
    right: 1200px;
    left: 30px;
    padding: 5px;
}

#discord { 
    position: fixed;        
    top: 20px;             
    left: 20px;            
    width: 50px;           
    height: 50px;         
    cursor: pointer;       
    z-index: 1000;         
}

#yt { 
    position: fixed;        
    top: 20px;             
    left: 90px;            
    width: 70px;           
    height: 50px;         
    cursor: pointer;       
    z-index: 1000;         
}


