#titulo { /*titulo mantenimiento*/
    color: rgb(42, 34, 65);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 80px;
}

.principal { /*contenedor  principal */
    background-color: rgb(213, 209, 209);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border: 2.5px solid rgba(0, 0, 0, 0.629);
    border-radius: 15px;
    padding: 50px;
    position: relative; /* Permite que los elementos dentro se posicionen en relación a este contenedor */
}
body{
    background-color: rgba(255, 255, 255, 0.808);
    transition: background-color 0.3s ease;
}

.novedades{ /*novedades generales CONTENEDOR*/
    background-color: rgb(233, 181, 109);
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border: 2.5px solid rgba(12, 12, 12, 0.629);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 15px rgba(177, 5, 5, 0.2);
}
#noche { /*modo noche*/
    position: fixed;        
    top: 20px;             
    right: 20px;           
    width: 50px;           
    height: 50px;         
    cursor: pointer;       
    z-index: 1000;         
    border-radius: 50%;    
}

.actu { /* contenedor actualizacion general*/
    background-color: rgb(229, 139, 14);
    margin-left: 0; /* Sin margen a la izquierda */
    margin-right: 0; /* Sin margen a la derecha */
    border: 2.5px solid rgba(12, 12, 12, 0.629);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 15px rgba(177, 5, 5, 0.2);
    position: absolute; /* Posición absoluta respecto al contenedor .principal */
    top: 200px; /* Pegado al borde superior de .principal */
    right: 30px; /* Pegado al borde derecho de .principal */
    left: 1200px ;
    padding: 5px; /* Puedes ajustar este padding según tus necesidades */

}
.contenido{ /*contenido actualizacion*/
    background-color: rgb(207, 144, 68);
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#actu_titulo{ /*nombre de la actu */
    text-align: center;
    font-size: 30px;
}

#release{ /*texto contador*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}
.contador {  /* contenedor tiempo restante contador */
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 5px solid rgba(194, 20, 20, 0.629);
  box-shadow: 35px 35px 35px 35px rgba(251, 255, 2, 0.2);
  font-size: 30px;
  color: white;
  text-align: center;
  
} 



@media only screen and (max-width: 768px) {
    #titulo {
        font-size: 40px; 
    }

    .principal {
        margin: 10px; 
        padding: 15px; 
    }

    #subtitulo {
        font-size: 30px; 
    }

    .novedades {
        font-size: 25px; 
        margin: 10px; 
    }

    #noche {
        width: 40px;
        height: 40px;
    }
}


@media only screen and (max-width: 480px) {
    #titulo {
        font-size: 32px; 
    }

    .principal {
        padding: 10px; 
    }

    #subtitulo {
        font-size: 24px; 
    }

    .novedades {
        font-size: 20px; 
        padding: 10px;
    }

    #noche {
        width: 30px;
        height: 30px;
    }
    #release {
        margin: 10px;
        font-size:15px;

    }
}



